{% if account != nil and user.superuser %}

  {% assign auths_query    = "auths" | db_find: _id: params.id, company_id: account._id %}
  {% assign auth           = auths_query.results.first %}

  {% if auth != nil %}

    {% assign now         = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
    {% assign created_at  = auth._id | _id_to_datetime %}

    {% include "shared/auths/show_auth" %}

    {% unless show_auth %}

      {% assign error = l.errors.no_access %}

    {% else %}

      {% if auth.webshop_id != nil %}

        {% assign webshops_query  = "webshops" | db_find: _id: auth.webshop_id %}
        {% assign webshop         = webshops_query.results.first %}

        {% if webshop != nil and webshop.company_id != account._id %}

          {% assign companies_query = "companies" | db_find: _id: webshop.company_id %}
          {% assign company         = companies_query.results.first %}        

        {% endif %}

      {% endif %}

      {% assign document = auth %}

      {% include "shared/document_relay" %}

    {% endunless %}

    {% include "auth" %}

  {% endif %}

{% endif %}