{% if account != nil and user.superuser %}

  {% assign auths_query    = "auths" | db_find: _id: params.id, company_id: account._id %}
  {% assign auth           = auths_query.results.first %}

  {% if auth != nil %}

    {% if auth.webshop_id != nil %}

      {% assign webshops_query  = "webshops" | db_find: _id: auth.webshop_id %}
      {% assign webshop         = webshops_query.results.first %}

      {% if webshop != nil and webshop.company_id != account._id %}

        {% assign companies_query = "companies" | db_find: _id: webshop.company_id %}
        {% assign company         = companies_query.results.first %}        

      {% endif %}

    {% endif %}

    {% assign document = auth %}

    {% include "shared/document_relay" %}
    {% include "auth" %}

  {% endif %}

{% endif %}