test{% if account != nil and user.superuser %}

  {% assign job = params.id | get_job %}

  {% if job.status == "erred" %}

    {% if job.data != nil and job.data.error_message != nil %}

      {"status": "200", "job_status": "{{ job.status }}", "error_message": "{{ job.data.error_message }}"}

    {% else %}

      {"status": "200", "job_status": "{{ job.status }}"}

    {% endif %}

  {% else %}

    {% if user.superuser_level == 1 %}

      {"status": "200", "job_status": "{{ job.status }}", "name": "{{ job.name }}", "data": {{ job.data | json }}}

    {% else %}

      {"status": "200", "job_status": "{{ job.status }}", "name": "{{ job.name }}"}

    {% endif %}
  {% endif %}
{% endif %}