{% if account != nil and user.superuser and user.superuser_level == 1 %}

  {% assign permission_types  = "ticket_relay_ids auth_relay_ids" | split: " " %}
  {% assign permission_type   = params.permission_type %}
  {% unless permission_types contains permission_type  %}

    alertify.error("{{ l.response_texts.unknown_permission_type }}");

  {% else %}

    {% assign relay_ids = params[permission_type] %}

    {% if relay_ids == nil %}

      {% assign relay_ids = "" | split: " " %}

    {% endif %}

    {% assign document          = nil | new_hash %}
    {% assign document          = document | push_to_hash: permission_type, relay_ids %}

    {% if superusers_update == nil %}
      alertify.error("{{ l.response_texts.invalid_params }}");
    {% else %}
      {% if superusers_update.matched_count != 1 %}
        alertify.error("{{ l.response_texts.not_found }}");
      {% elsif superusers_update.updated_count != 1 %}
        alertify.message("{{ l.response_texts.not_updated }}");
      {% else %}
        alertify.success("{{ l.response_texts.updated }}");
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}