{% if account != nil and user.superuser %}

  {% if params.account_id != nil %}

    {% if params.account_id == account._id %}

      <a id="visit_ticket_link" href="{{ params.ticket_path }}">s</a>

      <script>

        visitTicket = function() {
          if ($("a#visit_ticket_link").length == 1) {
            $("a#visit_ticket_link").click();
          }
        };

        $(document).on('turbolinks:load', function() {
          visitTicket();
        })

      </script>

    {% else %}

      <form method="patch" id="switch_account_form" action="/en/accounts/{{ params.account_id }}/switch" data-remote="true">
        <input type="hidden" name="redirect" value="{{ params.ticket_path }}">
      </form>

      <script>

        switchAccount = function() {
          if ($("form#switch_account_form").length == 1) {
            $("form#switch_account_form").submit();
          }
        };

        $(document).on('turbolinks:load', function() {
          switchAccount();
        })

      </script>

    {% endif %}
  {% endif %}
{% endif %}