{% if account != nil and user.superuser %}

  {% assign gofetch_shop_api_url = project.secrets.gofetch_shop_api_url %}

  {% if gofetch_shop_api_url != nil and gofetch_shop_api_url != "" %}

    {% assign path = params.url | replace: gofetch_shop_api_url, "" %}

    {% assign url_parts = path | split: " " %}
    {% if url_parts.size > 1 %}
      {% for url_part in url_parts %}
        {% for param in params %}
          {% if url_part == param[1] %}
            {% capture url_var %} {{ url_part }} {% endcapture %}
            {% assign path = path | replace: url_var, param[1] | replace: "{{", "" | replace: "}}", "" %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% capture shop_api_url %}{{ gofetch_shop_api_url }}{{ path }}{% endcapture %}

    {% assign shop_api_url  = shop_api_url | replace: "{{ order_id }}", params.order_id %}
    {% assign response      = "get_shop_api" | webhook: url: shop_api_url, token: project.secrets.gofetch_shop_api_token %}

    var response_body   = JSON.stringify({{ response.body | json }}, undefined, 2);
    var highlight_body  = Prism.highlight(response_body, Prism.languages.json, 'json');
    pre_div             = $("<pre>").addClass("language-json");
    code_div            = $("<code>").addClass("language-json").html(highlight_body);

    pre_div.empty().append(code_div);

    {% assign url       = params.url %}
    {% include "shared/request_id" %}

    $('[data-id="{{ request_id }}-response"]').append(pre_div);

    {% if response.code == 200 or response.code == 204 %}
      alertify.success("{{ l.success }}");
    {% else %}
      alertify.error("{{ l.error }}");
    {% endif %}
  {% else %}
    alertify.error("{{ l.no_gofetch_shop_api_url }}");
  {% endif %}  
{% endif %}