{% if account != nil and user.superuser %}

  {% if params.status != nil %}
    {% assign status = params.status %}
  {% else %}
    {% assign status = "open" %}
  {% endif %}

  {% if user.superuser_level == 1 %}
    {% assign tickets_query = "tickets" | db_find: company_id: account._id, status: status %}
  {% else %}
    {% assign tickets_query = "relay_tickets" | db_find: company_id: account._id, status: status, relay_ids: user.relay_ids %}
  {% endif %}

  {% assign tickets = tickets_query.results %}

  {% if tickets.size > 0 %}

    {% assign relay_ids   = "" %}
    {% assign company_ids = "" %}

    {% for ticket in tickets %}

      {% if ticket.relay_id != nil %}
        {% capture relay_ids %}{{ relay_ids }} {{ ticket.relay_id }}{% endcapture %}
      {% endif %}

      {% if ticket.company_id != nil %}
        {% capture company_ids %}{{ company_ids }} {{ ticket.company_id }}{% endcapture %}
      {% endif %}

    {% endfor %}

    {% assign relay_ids   = relay_ids | lstrip | split: " " %}
    {% assign company_ids = company_ids | lstrip | split: " " %}

    {% if relay_ids.size > 0 %}

      {% assign relay_ids = relay_ids | join: "," %}

      {% assign gofetch_project_api_token = project.secrets.gofetch_project_api_token %}

      {% if gofetch_project_api_token == nil %}

        {% assign error = l.no_gofetch_project_api_token %}

      {% else %}

        {% assign relays_response = "relays" | webhook: relay_ids: relay_ids, gofetch_project_api_token: gofetch_project_api_token %}

        {% if relays_response.error != nil %}

          {% capture error %}{{ l.project_api_error }}: {{ relays_response.error }}{% endcapture %}

        {% elsif relays_response.code != 200 %}

          {% capture error %}{{ l.relays_not_found }} {{ relays_response.code }}{% endcapture %}

        {% else %}

          {% assign relays = relays_response.body.documents | to_hash: "_id" %}

        {% endif %}
      {% endif %}
    {% endif %}


    {% if company_ids.size > 0 %}

      {% assign companies_query = "companies" | db_find: company_ids: company_ids %}
      {% assign companies       = companies_query.results | to_hash: "_id" %}

    {% endif %}

  {% endif %}

  {% include "tickets" %}
{% endif %}