{% if account != nil and user.superuser %}

  {% assign tickets_query = "tickets" | db_find: company_id: account._id, _id: params.id %}
  {% assign ticket        = tickets_query.results.first %}

  {% if ticket == nil %}

    alertify.error("{{ l.response_texts.not_found }}");

  {% else %}

    {% include "shared/tickets/check_user_access" %}

    {% if error != nil %}

      alertify.error("{{ error }}");

    {% else %}

      {% assign superusers_query  = "superusers" | db_find: app_id: project.app_id %}
      {% assign superusers        = superusers_query.results | to_hash: "_id" %}
      {% assign redirect_to       = nil %}
      {% assign now               = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
      {% assign document          = nil | new_hash %}
      {% assign log_entry         = nil | new_hash %}
      {% assign log_entry         = log_entry | push_to_hash: "time", now %}

      {% if params.superuser_id != nil %}

        {% if params.superuser_id == "none" %}

          {% assign superuser_id  = nil %}
          {% assign response_text = l.response_texts.superuser_id_unassigned %}

        {% else %}

          {% assign superuser_id  = params.superuser_id %}
          {% assign response_text = l.response_texts.superuser_id_updated %}

        {% endif %}

        {% assign document    = document | push_to_hash: "superuser_id", superuser_id %}
        {% assign log_entry   = log_entry | push_to_hash: "superuser_id", superuser_id %}

      {% elsif params.message != nil and params.message != "" %}

        {% if params.recipients == nil %}

          {% assign recipients = "" | split: " " %}

        {% else %}

          {% assign recipients = params.recipients %}

        {% endif %}

        {% assign log_entry     = log_entry | push_to_hash: "recipients", recipients %}
        {% assign message       = params.message | encrypt %}
        {% assign log_entry     = log_entry | push_to_hash: "message", message %}
        {% assign log_entry     = log_entry | push_to_hash: "author_type", "superuser" %}
        {% assign log_entry     = log_entry | push_to_hash: "author_id", user._id %}
        {% assign response_text = l.response_texts.message_sent %}

      {% elsif params.status != nil %}

        {% assign params_status = params.status %}

        {% capture status_time %}{{ params_status }}_at{% endcapture %}

        {% assign document      = document | push_to_hash: status_time, now %}
        {% assign log_entry     = log_entry | push_to_hash: "status", params_status %}
        {% assign response_text = l.response_texts.status_changed[params_status] %}

        {% if params_status == "closed" %}

          {% assign document = document | push_to_hash: "re_opened_at", nil %}
          {% assign document = document | push_to_hash: "escalated_at", nil %}
          {% assign document = document | push_to_hash: "de_escalated_at", nil %}
          {% assign document = document | push_to_hash: "superuser_id", nil %}

          {% if user.superuser_level != 1 %}

            {% assign redirect_to = "tickets__index" | path_for %}
 
          {% endif %}


        {% elsif params_status == "de_escalated" %}

          {% assign document = document | push_to_hash: "escalated_at", nil %}

        {% endif %}

        {% if params_status == "re_opened" or params_status == "de_escalated" %}

          {% assign status = "opened" %}

        {% else %}    

          {% assign status = params_status %}

        {% endif %}    

        {% assign document = document | push_to_hash: "status", status %}

      {% endif %}

      {% if document.size > 0 or log_entry.size > 1 %}
        {% if ticket.log == nil %}

          {% assign log = "" | split: " " %}

        {% else %}

          {% assign log = ticket.log %}

        {% endif %}

        {% assign log             = log | push_to_array: log_entry %}
        {% assign document        = document | push_to_hash: "log", log %}
        {% assign tickets_update  = "update_ticket" | db_update_one: _id: params.id, document: document %}

      {% endif %}

      {% if tickets_update == nil %}
        alertify.error("{{ l.response_texts.invalid_params }}");
      {% else %}
        {% if tickets_update.matched_count != 1 %}
          alertify.error("{{ l.response_texts.not_found }}");
        {% elsif tickets_update.updated_count != 1 %}
          alertify.message("{{ l.response_texts.not_updated }}");
        {% else %}
          alertify.success("{{ response_text }}");
          {% if log_entry.message != nil %}

            {% for recipient in log_entry.recipients %}

              {% if recipient contains "@" %}
                {% assign mail_address = recipient %}
              {% elsif recipient.size == 24 %}
                {% assign mail_address = superusers[recipient].email %}
              {% else %}
                {% assign mail_address = nil %}
              {% endif %}

              {% if mail_address != nil %}

                {% assign send_result = "new_message" | send_email: to: mail_address, display_name: project.secrets.email_display_name, message: params.markdown_message %}

              {% endif %}

            {% endfor %}

            $("#log_table tbody tr:first").before('{% assign identifier = user.email %}{% include "shared/tickets/message_tr" %}');

            addMarkdown();
            fillRelayAuthorName();

            var message_input = $("#message_form textarea[name='message']");

            message_input.val("");
            message_input.attr("data-sending", "");
            $(".input-select2-recipients").val(null).trigger("change");
            var message_input = $("#message_form input[name='markdown_message']").remove();
            $("#log_accordion .collapse").addClass("show");
          {% else %}
            {% if redirect_to != nil %}

              Turbolinks.visit("{{ redirect_to }}");

            {% else %}

              Turbolinks.visit(window.location);

            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}