{% if account != nil and user.superuser %}

  {% assign query = nil | new_hash %}

  {% case params.scope %}

    {% when "closed" %}

      {% assign scope           = "closed" %}
      {% assign query_statuses  = "closed" | split: " " %}

    {% else %}

      {% assign scope           = "opened" %}
      {% assign query_statuses  = "opened escalated" | split: " " %}

  {% endcase %}

  {% assign status_q  = nil | new_hash | push_to_hash: "$in", query_statuses %}

  {% if user.superuser_level != 1 %}

    {% if user.closed_ticket_relay_ids != nil and user.closed_ticket_relay_ids.size > 0 %}

      {% assign relay_q   = nil | new_hash | push_to_hash: "$in", user.closed_ticket_relay_ids %}
      {% assign query     = query | push_to_hash: "relay_id", relay_q %}

    {% elsif scope == "opened" and user.ticket_relay_ids != nil and user.ticket_relay_ids.size > 0 %}

      {% assign relay_q   = nil | new_hash | push_to_hash: "$in", user.ticket_relay_ids %}
      {% assign query     = query | push_to_hash: "relay_id", relay_q %}

    {% else %}

      {% assign query     = query | push_to_hash: "superuser_id", user._id %}

    {% endif %}
  {% endif %}

  {% assign query           = query | push_to_hash: "status", status_q %}
  {% assign documents_query = "tickets" | db_find: query: query, page: params.page, per_page: params.per_page %}
  {% assign documents       = documents_query.results %}

  {% if documents.size > 0 %}

    {% assign relay_ids   = "" %}
    {% assign company_ids = "" %}

    {% for document in documents %}

      {% if document.relay_id != nil %}

        {% capture relay_ids %}{{ relay_ids }} {{ document.relay_id }}{% endcapture %}

      {% endif %}

      {% if document.company_id != nil %}

        {% capture company_ids %}{{ company_ids }} {{ document.company_id }}{% endcapture %}

      {% endif %}

    {% endfor %}

    {% assign relay_ids   = relay_ids | lstrip | split: " " | uniq %}
    {% assign company_ids = company_ids | lstrip | split: " " | uniq %}

    {% if relay_ids.size > 0 %}

      {% assign relay_ids = relay_ids | join: "," %}

      {% assign gofetch_project_api_token = project.secrets.gofetch_project_api_token %}

      {% if gofetch_project_api_token == nil %}

        {% assign error = l.no_gofetch_project_api_token %}

      {% else %}

        {% assign relays_response = "relays" | webhook: relay_ids: relay_ids, gofetch_project_api_token: gofetch_project_api_token %}

        {% if relays_response.error != nil %}

          {% capture error %}{{ l.project_api_error }}: {{ relays_response.error }}{% endcapture %}

        {% elsif relays_response.code != 200 %}

          {% capture error %}{{ l.relays_not_found }} {{ relays_response.code }}{% endcapture %}

        {% else %}

          {% assign relays = relays_response.body.documents | to_hash: "_id" %}

        {% endif %}
      {% endif %}
    {% endif %}


    {% if company_ids.size > 0 %}

      {% assign companies_query = "companies" | db_find: company_ids: company_ids %}
      {% assign companies       = companies_query.results | to_hash: "_id" %}

    {% endif %}
  {% endif %}

  {% include "tickets" %}
{% endif %}