{% if account != nil and user.superuser %}

  {% assign document = nil | new_hash %}

  {% if params.superuser_id != nil %}
    {% assign document      = document | push_to_hash: "superuser_id", params.superuser_id %}
    {% assign response_text = l.response_texts.superuser_id_updated %}
  
  {% elsif params.status != nil %}

    {% capture status_time %}{{ params.status }}_at{% endcapture %}

    {% assign now           = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
    {% assign document      = document | push_to_hash: status_time, now %}
    {% assign response_text = l.response_texts.status_changed %}

    {% if params.status == "closed" %}

      {% assign document      = document | push_to_hash: "re_opened_at", nil %}
      {% assign document      = document | push_to_hash: "escalated_at", nil %}

    {% endif %}

    {% if params.status == "re_opened" %}

      {% assign status        = "opened" %}

    {% else %}    

      {% assign status        = params.status %}

    {% endif %}    

    {% assign document      = document | push_to_hash: "status", status %}

  {% endif %}

  {% if document.size > 0 %}

    {% assign tickets_update = "update_ticket" | db_update_one: _id: params.id, document: document %}

  {% endif %}

  {% if tickets_update == nil %}
    alertify.error("{{ l.response_texts.invalid_params }}");
  {% else %}
    {% if tickets_update.matched_count != 1 %}
      alertify.error("{{ l.response_texts.not_found }}");
    {% elsif tickets_update.updated_count != 1 %}
      alertify.message("{{ l.response_texts.not_updated }}");
    {% else %}
      alertify.success("{{ response_text }}");
    {% endif %}
  {% endif %}
{% endif %}

Turbolinks.visit(window.location);