{% if account != nil and user.superuser %}

  {% if params.status != nil %}
    {% assign status = params.status %}
  {% else %}
    {% assign status = "open" %}
  {% endif %}

  {% if user.superuser_level == 1 %}
    {% assign tickets_query = "tickets" | db_find: company_id: account._id, status: status %}
  {% else %}
    {% assign tickets_query = "relay_tickets" | db_find: company_id: account._id, status: status, relay_ids: user.relay_ids %}
  {% endif %}

  {% assign tickets = tickets_query.results %}

  {% include "tickets" %}
{% endif %}