{% if account != nil and user.superuser %}

  {% assign error           = nil %}
  {% assign documents_query = "tickets" | db_find: _id: params.id %}
  {% assign document        = documents_query.results.first %}

  {% if document == nil %}

    {% assign error = l.no_ticket %}

  {% elsif document.company_id != nil and document.company_id != "" and document.company_id != account._id %}

    {% assign error = l.wrong_company %}

  {% else %}

    {% include "shared/tickets/check_user_access" %}

    {% if error == nil and document.auth_id != nil %}

      {% assign auths_query = "auths" | db_find: _id: document.auth_id %}
      {% assign auth        = auths_query.results.first %}

    {% endif %}

    {% if error == nil and document.relay_id != nil %}

      {% assign gofetch_project_api_token = project.secrets.gofetch_project_api_token %}

      {% if gofetch_project_api_token == nil %}

        {% assign error = l.no_gofetch_project_api_token %}

      {% else %}

        {% assign relay_response = "relay" | webhook: relay_id: document.relay_id, gofetch_project_api_token: gofetch_project_api_token %}

        {% if relay_response.error != nil %}

          {% capture error %}{{ l.project_api_error }}: {{ relay_response.error }}{% endcapture %}

        {% elsif relay_response.code != 200 %}

          {% capture error %}{{ l.relay_not_found }} {{ relay_response.code }}{% endcapture %}

        {% else %}

          {% assign relay = relay_response.body.document %}

          {% assign superusers_query = "superusers" | db_find: app_id: project.app_id %}
          {% assign superusers       = superusers_query.results | to_hash: "_id" %}

        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% include "ticket" %}
{% endif %}