{% if account != nil and user.superuser %}

  {% assign tickets_query = "tickets" | db_find: company_id: account._id, _id: params.id %}
  {% assign ticket        = tickets_query.results.first %}

  {% if ticket == nil %}

    {% assign error = l.no_ticket %}

  {% else %}
    {% if user.superuser_level != 1 %}
      {% if user.relay_ids == nil %}

        {% assign error = l.no_access %}

      {% else %}

        {% if user.relay_ids contains ticket.relay_id %}
        {% else %}

          {% assign error = l.no_access %}

        {% endif %}
      {% endif %}
    {% endif %}

    {% if error == nil and ticket.auth_id != nil %}

      {% assign auths_query = "auths" | db_find: _id: ticket.auth_id %}
      {% assign auth        = auths_query.results.first %}


    {% endif %}


    {% if error == nil and ticket.relay_id != nil %}

      {% assign gofetch_project_api_token = project.secrets.gofetch_project_api_token %}

      {% if gofetch_project_api_token == nil %}

        {% assign error = l.no_gofetch_project_api_token %}

      {% else %}

        {% assign relay_response = "relay" | webhook: relay_id: ticket.relay_id, gofetch_project_api_token: gofetch_project_api_token %}

        {% if relay_response.error != nil %}

          {% capture error %}{{ l.project_api_error }}: {{ relay_response.error }}{% endcapture %}

        {% elsif relay_response.code != 200 %}

          {% capture error %}{{ l.relay_not_found }} {{ relay_response.code }}{% endcapture %}

        {% else %}

          {% assign relay = relay_response.body.document %}

          {% assign superusers_query = "superusers" | db_find: app_id: project.app_id %}
          {% assign superusers       = superusers_query.results %}

        {% endif %}
      {% endif %}
    {% endif %}



  {% endif %}

  {% include "ticket" %}
{% endif %}