{% if account != nil and user.superuser %}

  {% assign scope = params.scope %}
  {% assign query = nil | new_hash %}

  {% case params.scope %}

    {% when "active" %}

      {% assign query = query | push_to_hash: "active", true %}

    {% when "inactive" %}

      {% assign query = query | push_to_hash: "active", false %}

    {% when "erroring" %}

      {% assign query           = query | push_to_hash: "active", true %}
      {% assign got_error_at_q  = nil | new_hash %}
      {% assign got_error_at_q  = got_error_at_q | push_to_hash: "$ne", nil %}
      {% assign query           = query | push_to_hash: "got_error_at", got_error_at_q %}

    {% else %}

      {% assign scope = nil %}
      {% assign query = query | push_to_hash: "company_id", account._id %}

  {% endcase %}

  {% if query.size > 0 %}

    {% assign index_query   = "webshops" | db_find: query: query, page: params.page, per_page: params.per_page %}
    {% assign webshops      = index_query.results %}
    {% assign documents     = webshops %}

    {% include "shared/document_relays" %}
    {% include "webshops" %}

  {% endif %}
{% endif %}