{% if account != nil and user.superuser %}

  {% assign scope = params.scope %}

  {% case scope %}

    {% when nil %}

      {% assign webshops_query = "company_webshops" | db_find: company_id: account._id, page: params.page, per_page: params.per_page %}

    {% when "active" %}

      {% assign webshops_query = "active_webshops" | db_find: active: true, page: params.page, per_page: params.per_page %}

    {% when "inactive" %}

      {% assign webshops_query = "active_webshops" | db_find: active: false, page: params.page, per_page: params.per_page %}

    {% when "erroring" %}

      {% assign webshops_query = "erroring_webshops" | db_find: page: params.page, per_page: params.per_page %}

  {% endcase %}

  {% assign webshops  = webshops_query.results %}
  {% assign documents = webshops %}

  {% include "shared/document_relays" %}
  {% include "webshops" %}

{% endif %}