{% if account != nil and user.superuser %}

  {% assign scope = params.scope %}
  {% assign query = nil | new_hash %}

  {% case params.scope %}

    {% when "active" %}

      {% assign query = query | push_to_hash: "active", true %}

    {% when "inactive" %}

      {% assign query = query | push_to_hash: "active", false %}

    {% when "erroring" %}

      {% assign query           = query | push_to_hash: "active", true %}
      {% assign got_error_at_q  = nil | new_hash: "$ne", nil %}
      {% assign query           = query | push_to_hash: "got_error_at", got_error_at_q %}

    {% else %}

      {% assign scope = nil %}
      {% assign query = query | push_to_hash: "company_id", account._id %}

  {% endcase %}

  {% if query.size > 0 %}
    <p>{{ query }}</p>
    {% assign webshops_query  = "webshops" | db_find: company_id: account._id, page: params.page, per_page: params.per_page %}
    {% assign webshops        = webshops_query.results %}
    {% assign documents       = webshops %}

    {% include "shared/document_relays" %}
    {% include "webshops" %}

  {% endif %}
{% endif %}