{% if account != nil and user.superuser %}

  {% assign config = nil | new_hash %}

  {% for kv in params.config %}

    {% assign klassname = kv[1] | klassname %}

    {% if klassname == "String" %}

      {% assign encrypted = kv[1] | encrypt %}
      {% assign config    = config | push_to_hash: kv[0], encrypted %}

    {% else %}

      {% assign config    = config | push_to_hash: kv[0], kv[1] %}

    {% endif %}
  {% endfor %}
{{ config }}
  {% assign webshops_update = "update_webshop" | db_update_one: company_id: account._id, config: config, _id: params.id %}

  {% if webshops_update.matched_count != 1 %}
    alertify.error("{{ l.not_found }}");
  {% elsif webshops_update.updated_count != 1 %}
    alertify.message("{{ l.not_updated }}");
  {% else %}
    alertify.success("{{ l.updated }}");
  {% endif %}
{% endif %}