{% if account != nil and user.superuser %}

  {% assign document_id = params.id %}
  {% include "shared/webshops/check_user_action_access" %}

  {% if error != nil %}

    alertify.error("{{ error }}");

  {% else %}

    {% assign job = "destroy_webshop" | create_job: company_id: account._id, webshop_id: document._id %}

    {% if job.job_id == nil %}

      alertify.error("{{ l.no_job_id }}");

    {% else %}

      Turbolinks.visit("{{ 'destroy_webshop_jobs__show' | path_for: id: job.job_id }}");

    {% endif %}
  {% endif %}
{% endif %}