<style>
  .select2-selection--single, .select2-search__field {
    outline: none;
  }

  .select2-selection__choice {
    background-color: #e9ecef !important;
  }

  .select2-container--default.select2-container .select2-selection--multiple {
    border: solid #ced4da 1px;
  }

  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #007bff 1px;
  }

  .select2-container .select2-search--inline .select2-search__field {
    padding-left: 8px;
  }
</style>