{% assign webshops_query    = "webshops" | db_find: _id: params.id, company_id: account._id %}
{% assign webshop           = webshops_query.results.first %}

{% if webshop != nil %}
  {% if webshop.relay_id == nil %}

    {% assign error = l.errors.no_relay_id %}

  {% elsif project.secrets.gofetch_shop_api_url == nil %}

    {% assign error = l.errors.no_gofetch_shop_api_url %}

  {% elsif project.secrets.gofetch_shop_api_token == nil %}

    {% assign error = l.errors.no_gofetch_shop_api_token %}

  {% else %}

    {% assign gofetch_project_api_token = project.secrets.gofetch_project_api_token %}

    {% if gofetch_project_api_token == nil %}

      {% assign error = l.errors.no_gofetch_project_api_token %}

    {% else %}

      {% assign relay_response = "relay" | webhook: relay_id: webshop.relay_id, gofetch_project_api_token: gofetch_project_api_token %}

      {% if relay_response.code != 200 %}

        {% assign error = l.errors.relay_not_found %}

      {% else %}

        {% assign relay = relay_response.body.document %}

      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

{% if error != nil %}
  <h5 class="mb-4">
    {{ l.headlines.error }} <a href="{{ 'webshops__index' | path_for }}">{{ l.headlines.return }}<i class="fas fa-undo"></i></a>
  </h5>
  <p>{{ error }}</p>
{% endif %}