{% if error != nil %}
  <h5 class="mb-4">
    {{ l.headlines.error }} <a href="{{ 'webshops__index' | path_for }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>
  <p>{{ error }}.</p>
{% else %}
  <h5 class="mb-4">
    {{ l.headlines.intro }} <a href="{{ 'webshops__index' | path_for }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>

  {% include "shared/indent_json_pre" %}
  {% include "shared/link_styles" %}

  <table class="table mb-0">
    <tbody>
      <tr>
        <td width="1" class="text-nowrap">
          <b>{{ l.headers.status }}:</b>
        </td>
        <td>
          {% assign ticket_status = ticket.status %}

          {% include "shared/auths/status" %}

          {% if auth.status_description != nil and auth.status_description != "" %}

            <span class="text-secondary">&#183; {{ auth.status_description }}</span>

          {% endif %}
        </td>
      </tr>
      <tr>
        <td width="1" class="text-nowrap">
          <b>{{ l.headers.created_at }}:</b>
        </td>
        <td>
          <span title="{{ created_at | i18n_l: 'wday_date_hours_minutes' | capitalize }}">
            {{ created_at | time_distance_in_words: now }} {{ l.informations.ago }}
          </span>
        </td>
      </tr>
      <tr>
        <td width="1" class="text-nowrap">
          <b>{{ l.headers.relay_name }}:</b>
        </td>
        <td>
          {{ relay.name }}
        </td>
      </tr>
      <tr>
        <td width="1" class="text-nowrap">
          <b>{{ l.headers.remote_ip }}:</b>
        </td>
        <td>
          {{ auth.remote_ip | decrypt }}
        </td>
      </tr>
      {% if auth.webshop_id != nil %}
        <tr>
          <td width="1" class="text-nowrap">
            <b>{{ l.headers.webshop }}:</b>
          </td>
          <td>
            {% if webshop == nil %}
              {{ l.informations.unknown_webshop }} <span class="text-secondary border rounded border-secondary px-1">{{ auth.webshop_id }}</span>
            {% else %}
              {% if webshop.company_id == account._id %}
                <a href="{{ 'webshops__show' | path_for: id: webshop._id }}">{{ account.website }}</a>
              {% elsif company != nil %}
                <form method="patch" action="/accounts/{{ company._id }}/switch" data-remote="true">
                  <input type="hidden" name="redirect" value="{{ 'webshops__show' | path_for: id: webshop._id }}">
                  <input class="submit-link d-inline border-0 p-0 text-primary bg-white" type="submit" value="{{ company.website }}">
                </form>
              {% else %}
                {{ l.informations.unknown_webshop }} <span class="text-secondary border rounded border-secondary px-1">{{ webshop._id }}</span> {{ l.informations.unknown_company }} <span class="text-secondary border rounded border-secondary px-1">{{ webshop.company_id }}</span>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  {% include "shared/auth_result" %}
{% endif %}