{% if error == nil %}
  <h5 class="mb-3">
    {{ l.headlines.intro }} <a href="{{ 'webshops__index' | path_for }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>

  {% include "shared/indent_json_input" %}

  <script>
    submitRequest = function() {
      $(document).off("submit");
      $(document).on("submit", ".update-webshop-form", function(e) {
        e.preventDefault();
        var form_action             = $(this).attr("action");
        var form_method             = $(this).attr("method");
        var form_submit             = $(this).find(":input[type=submit]");
        var form_submitting         = $(this).find("[data-type=submitting]");
        var config_input            = $(this).find(":input[name=config]");
        var request_data            = {"config": JSON.parse(config_input.val())};

        form_submit.hide();
        form_submitting.show();

        $.ajax({
          url: form_action,
          type: form_method,
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(request_data),
          success: function(data, status, xhr) {
            if (data.success !== undefined) {
              console.log(data.success);
              alertify.success(data.success);
            } else if (data.message !== undefined) {
              alertify.message(data.message);
            }

            form_submit.show();
            form_submitting.hide();
          },
          error: function (data, status, error) {
            if (data.responseJSON !== undefined) {
              alertify.error(data.responseJSON.error);
            } else {
              alertify.error("{{ l.messages.internal_error }}");
            }
            form_submit.show();
            form_submitting.hide();
          }
        });

        return
      });
    };

  $(document).on('turbolinks:load', function() {
    submitRequest();
  })
  </script>

  <p><b>{{ l.headers.config }}</b></p>
  <p>{{ l.explainers.config }}</p>

  {% assign config = nil | new_hash %}

  {% for kv in webshop.config %}

    {% assign klassname = kv[1] | klassname %}

    {% if klassname == "String" %}

      {% assign decrypted = kv[1] | decrypt %}
      {% assign config    = config | push_to_hash: kv[0], decrypted %}

    {% else %}

      {% assign config    = config | push_to_hash: kv[0], kv[1] %}

    {% endif %}
  {% endfor %}

  <form class="update-webshop-form" action="{{ 'webshops__update' | path_for: id: webshop._id, format: 'json' }}" method="patch" data-remote="true">

    <div class="json-container">
      <textarea class="border" name="config">{{ config | json }}</textarea>
    </div>

    <input class="btn btn-outline-primary mt-3 btn-fullwidth" type="submit" value="{{ l.buttons.submit }}">
    <button class="btn btn-outline-primary mt-3 btn-fullwidth disabled" data-type="submitting" disabled="" style="display: none;">{{ l.buttons.submitting }}</button>

  </form>

  <p><b>{{ l.headers.timestamps }}</b></p>
  <p>
    {{ l.explainers.timestamps.p1 }} <a href="https://goaddon.com/en/addons/5b9ff6463ab42f43522b30cf/manage#page=integrations&query=%7B%22filter%22%3A%22{{ relay.name | downcase }}%22%7D" target="_blank">{{ l.explainers.timestamps.p2 }} {{ relay.name }}</a>. {{ l.explainers.timestamps.p3 }}.
  </p>
{% endif %}