<h5 class="mb-4">
  {{ l.headlines.intro }} <a href="{{ 'webshops__index' | path_for }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
</h5>

<div data-job-id="{{ params.id }}"></div>

<script>
  checkJob = function(job_id) {
    console.log(job_id);
    if ($("[data-job-id={{ job_id }}]").length === 1) {
      return setTimeout((function() {
        return $.ajax({
          type: "get",
          dataType: "json",
          url: "{{ 'jobs__show' | path_for: id: params.id, format: 'json' }}",
          success: function(data, status, xhr) {
            if (data !== undefined) {
              if (data.job_status === "pending" || data.job_status === "in_progress") {
                return checkJob(job_id);
              } else if (data.job_status === "erred") {
                return alertify.error("{{ l.statuses.erred }}");
              } else if (data.job_status === "finished") {
                if (data.data.error !== undefined) {
                  return alertify.error(data.data.error);
                } else {
                  return alertify.success(data);
                }
              }
            }
          },
          error: function(data, status, code) {
            if (data !== undefined && data.responseJSON !== undefined) {
              return alertify.error(data.responseJSON.error);
            } else {
              return alertify.error(code);
            }
          }
        });
      }), 2000);
    }
  };

  $(document).on('turbolinks:load', function() {
    checkJob("{{ params.id }}");
  })
</script>