{% if error != nil %}
  <h5 class="mb-4">
    {{ l.headlines.error }} <a href="{{ 'webshops__index' | path_for: page: params.page, per_page: params.per_page, scope: params.scope }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>
  <p class="text-danger">{{ error }}.</p>
{% else %}
  <h5 class="mb-4">
    {{ l.headlines.intro }} <a href="{{ 'webshops__index' | path_for: page: params.page, per_page: params.per_page, scope: params.scope }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>

  {% assign now = "now" | in_time_zone %}

  {% include "shared/indent_json_input" %}

  <style>
    .input-select2 {
      width: 100%;
    }

    .select2-selection--single, .select2-search__field {
      outline: none;
    }

    .select2-selection__choice {
      margin-bottom: 5px;
      background-color: #e9ecef !important;
    }

    .select2-selection__rendered {
      line-height: 34px !important;
    }

    .select2-container .select2-selection--single {
      height: 38px !important;
    }

    .select2-selection__arrow {
      height: 37px !important;
    }

    .select2-selection__placeholder {
      color: #6c757d !important;
    }
  </style>

  {% include "shared/link_styles" %}

  <script>
    submitRequest = function() {
      $("form.update-webshop-form").off("submit");
      $("form.update-webshop-form").on("submit", function(e) {

        e.preventDefault();

        var form_action             = $(this).attr("action");
        var form_method             = $(this).attr("method");
        var form_submit             = $(this).find(":input[type=submit]");
        var form_submitting         = $(this).find("[data-type=submitting]");
        var request_data            = {};

        var config_input            = $(this).find(":input[name=config]");
        if (config_input.length > 0) {
          request_data["config"]      = JSON.parse(config_input.val());
        }

        var got_at_attr_input       = $(this).find(":input[name=got_at_attr]");
        if (got_at_attr_input.length > 0) {
          request_data["got_at_attr"] = got_at_attr_input.val();
          var got_at_option           = $(this).find("option[value=" + request_data["got_at_attr"] + "]");
        }

        var active_input            = $(this).find(":input[name=active]");
        if (active_input.length > 0) {
          request_data["active"]      = active_input.val();
        }

        form_submit.hide();
        form_submitting.show();

        $.ajax({
          url: form_action,
          type: form_method,
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(request_data),
          success: function(data, status, xhr) {
            if (data.success !== undefined) {
              if (got_at_option !== undefined) {
                got_at_option.attr("data-time", "").trigger('change');
              }
              if (request_data["active"] !== undefined) {
                $(".toggle-active").each(function() {
                  if ("" + $(this).data("active") + "" === request_data["active"]) {
                    $(this).show();
                  } else {
                    $(this).hide();
                  }
                  var danger_zone = $("#danger_zone");
                  if ($(this).data("active") === "true") {
                    danger_zone.hide();
                  } else {
                    danger_zone.show();
                  }
                });
              }
              alertify.success(data.success);
            } else if (data.message !== undefined) {
              alertify.message(data.message);
            }

            form_submit.show();
            form_submitting.hide();
          },
          error: function (data, status, error) {
            if (data.responseJSON !== undefined) {
              alertify.error(data.responseJSON.error);
            } else {
              alertify.error("{{ l.messages.internal_error }}");
            }
            form_submit.show();
            form_submitting.hide();
          }
        });

        return;
      });
    };

    formatState = function(state) {
      if (state.element === undefined) {
        return state.text;
      } else {
        var title = state.element.attributes["data-title"].value;
        if (state.element.attributes["data-time"].value != "") {
          var title = title.concat(' &#183; <small><i>' + state.element.attributes["data-time"].value + '</i></small>');
        }
        return jQuery.parseHTML(title);
      }
    };

    select2GotAt = function() {
      $(".input-select2-got_at_attr").select2({
        width: "100%",
        placeholder: "{{ l.placeholders.got_at_attr }}",
        multiple: false,
        allowClear: false,
        tags: false,
        sorter: function(data) {
          return data.sort(function(a, b) {
            a = a.text.toLowerCase();
            b = b.text.toLowerCase();
            if (a > b) {
              return 1;
            } else if (a < b) {
              return -1;
            }
            return 0;
          });
        },
        templateResult: formatState,
        templateSelection: formatState
      });
    };

    $(document).on('turbolinks:load', function() {
      submitRequest();
      select2GotAt();
    })
  </script>

  {% if document.active %}
    {% assign webshop_status = "active" %}
  {% else %}
    {% assign webshop_status = "inactive" %}
  {% endif %}

  {% assign statuses = "active inactive" | split: " " %}

  {% for status in statuses %}

    {% if status == webshop_status %}
      {% assign style = "" %}
    {% else %}
      {% assign style = "display: none;" %}
    {% endif %}    

    {% if status == "active" %}
      {% assign data_active     = "true" %}
      {% assign active_option   = "false" %}
      {% assign active_colour   = "success" %}
    {% else %}
      {% assign data_active     = "false" %}
      {% assign active_option   = "true" %}
      {% assign active_colour   = "danger" %}
    {% endif %}

    <div class="toggle-active" data-active="{{ data_active }}" style="{{ style }}">
      <form class="update-webshop-form" action="{{ 'webshops__update' | path_for: id: document._id, format: 'json' }}" method="patch">
        <p>
          {{ l.explainers.active.p1 }}
          <span class="text-{{ active_colour }}"><b>{{ l.explainers.active[status] }}</b></span>.
          {{ l.explainers.active.p2 }}<input type="hidden" name="active" value="{{ active_option }}"><input type="submit" class="submit-link d-inline border-0 py-0 pr-0 text-primary bg-white" value="{{ l.explainers.active.active_options[status] }}">.
        </p>
      </form>
    </div>
  {% endfor %}

  <h5 class="my-4">{{ l.headlines.config }}</h5>
  <p>
    {{ l.explainers.config.p1 }}
    <a href="{{ 'webshops__show' | path_for: id: document._id }}">{{ l.explainers.config.p2 }}</a> &#183; <a href="{{ 'webshops__show' | path_for: id: document._id }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
  </p>

  {% assign encrypted_hash = document.config %}
  {% include "shared/decrypt_hash" %}

  <form class="update-webshop-form mb-4" action="{{ 'webshops__update' | path_for: id: document._id, format: 'json' }}" method="patch">

    <div class="json-container">
      <textarea class="border" name="config">{{ decrypted_hash | json }}</textarea>
    </div>
    <input type="submit" class="btn btn-outline-primary mt-3 btn-fullwidth" value="{{ l.buttons.submit }}">
    <button class="btn btn-outline-primary mt-3 btn-fullwidth disabled" data-type="submitting" disabled="" style="display: none;">{{ l.buttons.submitting }}</button>
  </form>

  <h5 class="my-4">{{ l.headlines.reset }}</h5>
  <p>
    {{ l.explainers.reset.p1 }} <a href="https://goaddon.com/en/addons/5b9ff6463ab42f43522b30cf/manage#page=integrations&query=%7B%22filter%22%3A%22{{ relay.name | downcase }}%22%7D" target="_blank">{{ relay.name }} <i class="fas fa-external-link-alt"></i></a>. {{ l.explainers.reset.p2 }}.
  </p>

  <form class="update-webshop-form" action="{{ 'webshops__update' | path_for: id: document._id, format: 'json' }}" method="patch">
    <table>
      <tr>
        <td width="100%">
          <div class="form-group">
            <select name="got_at_attr" class="form-control input-select2 input-select2-got_at_attr">
              <option value="" label=" "></option>
              {% for attribute in document %}
                {% capture got_at %}{{ attribute[0] | slice: 0, 3 }}{{ attribute[0] | slice: -3, 3 }}{% endcapture %}
                {% if got_at == "got_at" %}
                  {% assign attribute_name = attribute[0] %}
                  {% if attribute[1] != nil %}
                    {% assign time = attribute[1] | in_time_zone %}
                    {% capture time_text %}{{ time | time_distance_in_words: now | capitalize }} {{ l.input.ago }}{% endcapture %}
                  {% else %}
                    {% assign time_text = nil %}
                  {% endif %}
                  <option value="{{ attribute_name }}" data-title="{{ l.attributes[attribute_name] }}" data-time="{{ time_text }}">{{ l.attributes[attribute_name] }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </td>
        <td style="vertical-align: top;">
          <input type="submit" class="btn btn-outline-primary ml-1" value="{{ l.buttons.reset }}">
          <button class="btn btn-outline-primary ml-1 disabled" data-type="submitting" disabled="" style="display: none;">{{ l.buttons.resetting }}</button>
        </td>
      </tr>
    </table>
  </form>

  {% if tickets.size > 0 %}

    <h5 class="my-4">{{ l.headlines.tickets }}</h5>
    <p>
      {{ tickets.size }}
      {% if tickets.size == 1 %}
        {{ l.explainers.tickets.ticket }}
      {% else %}
        {{ l.explainers.tickets.tickets }}
      {% endif %}
      {{ l.explainers.tickets.p1 }}.
    </p>

    {% include "shared/webshops/tickets" %}

  {% endif %}

  {% if document.active %}
    {% assign danger_zone_style = "display: none;" %}
  {% else %}
    {% assign danger_zone_style = "" %}
  {% endif %}

  <div id="danger_zone" style="{{ danger_zone_style }}">
    <h5 class="my-4">{{ l.headlines.danger_zone }}</h5>

    <form class="d-inline" action="{{ 'webshops__destroy' | path_for: id: document._id, format: 'js' }}" method="delete" data-remote="true">
      {{ l.destroy.intro }} <input type="submit" class="submit-link d-inline border-0 py-0 px-0 text-primary bg-white" value="{{ l.destroy.button }}" data-title="{{ l.destroy.title }}" data-confirm="{{ l.destroy.confirm }}" data-commit="{{ l.destroy.commit }}" data-cancel="{{ l.destroy.cancel }}" data-commit-class="btn btn-outline-danger" data-cancel-class="text-primary">. {{ l.destroy.outro }}
    </form>
  </div>
{% endif %}