{% if user.superuser_level == 1 %}

  <h5 class="mb-4">{{ l.headlines.superuser_level_1 }}</h5>

  <table class="table">
    <thead>
      <tr>
        <th class="border-bottom-0">{{ l.headers.email }}</th>
        <th class="border-bottom-0"></th>
      </tr>
    </thead>
    <tbody>

      {% for superuser in superusers %}
        <tr>
          <td>
            {{ superuser.email }}
            {% if superuser.superuser_level == 1 %}
              <span class="border rounded text-nowrap px-1 text-secondary border-secondary">{{ l.superuser_levels.l1 }}</span>
            {% endif %}
          </td>
          <td class="text-right text-nowrap" width="1">
            <a class="btn btn-outline-primary" href="{{ 'superusers__show' | path_for: id: superuser._id }}">{{ l.buttons.show }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

  <h5 class="mb-4">{{ l.headlines.superuser }}</h5>

{% endif %}