<h5 class="mb-3">{{ l.headlines.tickets }} <span class="badge badge-secondary">{{ l.badges[status] }}</span></h5>

{% if error != nil %}
  <p><span class="badge badge-danger">{{ error }}</span></p>
{% endif %}

{% if tickets.size == 0 %}
  <p>{{ l.no_tickets.p1 }} {{ l.no_tickets[status] }} {{ l.no_tickets.p2 }}</p>
{% else %}

  <style>
    .submit-link {
      background: none !important;
      text-decoration: underline;
    }

    .submit-link:focus {
      outline: none;
    }
  </style>

  <table class="table">
    <thead>
      <tr>
        <th class="border-bottom-0">{{ l.headers.company_website }}</th>
        <th class="border-bottom-0">{{ l.headers.webshop_exists }}</th>
        <th class="border-bottom-0">{{ l.headers.relay_name }}</th>
        <th class="border-bottom-0"></th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
        {% assign relay_id        = ticket.relay_id %}
        {% assign company_id      = ticket.company_id %}
        <tr>
          <td>
            {% if company_id == account._id %}
              {{ companies[company_id].website }}
            {% else %}
              {% if company_id == nil %}
                <span class="text-secondary"><b><i class="fas fa-minus-circle"></i> {{ l.informations.no_company_id }}</b></span>
              {% elsif companies[company_id] == nil %}
                <span class="text-danger"><b><i class="fas fa-minus-circle"></i> {{ l.informations.no_company }}</b></span>
              {% else %}
                <form method="patch" action="/en/accounts/{{ company_id }}/switch" data-remote="true">
                  <input type="hidden" name="redirect" value="{{ 'webshops__index' | path_for }}">
                  <input class="submit-link d-inline border-0 py-0 pr-0 text-primary text-decoration-none" type="submit" value="{{ companies[company_id].website }}">
                </form>
              {% endif %}
            {% endif %}
          </td>
          <td class="text-center text-nowrap" width="1">
            {% if ticket.webshop_id == nil %}
              <span class="text-secondary"><b><i class="fas fa-minus-circle"></i> {{ l.informations.no_webshop }}</b></span>
            {% else %}
              <span class="text-success"><b><i class="fas fa-check-circle"></i> {{ l.informations.webshop_exists }}</b></span>
            {% endif %}
          </td>
          <td>
            {% if relays[relay_id] == nil %}
              <span class="badge badge-danger">{{ l.badges.no_relay }}</span>
            {% else %}
              {{ relays[relay_id].name }}
            {% endif %}
          </td>
          <td class="text-right text-nowrap" width="1">
            <a class="btn btn-outline-primary" href="{{ 'tickets__edit' | path_for: id: ticket._id }}">{{ l.buttons.edit }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}