{% if error != nil %}
  <h5 class="mb-3">
    {{ l.headlines.error }} <a href="{{ 'tickets__index' | path_for }}">{{ l.headlines.return }}<i class="fas fa-undo"></i></a>
  </h5>
  <p>{{ error }}</p>
{% else %}

  {% include "shared/indent_json_pre" %}

  <h5 class="mb-3">
    {{ l.headlines.intro }} <a href="{{ 'tickets__index' | path_for }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>

  <table class="table">
    <tbody>
      {% assign now                 = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
      {% assign status_field_names  = "open_at in_progress_at close_at" | split: " " %}
      {% assign input_field_names   = "mail_address phone comments admin_url admin_username admin_password ftp_host ftp_username ftp_password ssh_address ssh_password" | split: " " %}
      {% assign field_names  = status_field_names | concat: input_field_names %}

      {% for field_name in field_names %}
        {% if ticket[field_name] != nil and ticket[field_name] != "" %}
          <tr>
            <td width="1" class="text-nowrap">
              <b>{{ l.headers[field_name] }}:</b>
            </td>
            <td>
              {% if status_field_names contains field_name %}
                <span title="{{ ticket[field_name] | i18n_l: 'wday_date_hours_minutes' | capitalize }}">
                  {{ ticket[field_name] | time_distance_in_words: now }} {{ l.informations.ago }}
                </span>
              {% else %}
                {{ ticket[field_name] | decrypt }}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {% if auth != nil %}
    {% assign auth_field_names = "webshop_config setup_config log" | split: " " %}

    {% for auth_field_name in auth_field_names %}
      {% if auth[auth_field_name] != nil %}
        <p><b>{{ l.auth_headlines[auth_field_name] }}</b></p>
        <p>{{ l.auth_explainers[auth_field_name] }}</p>

        {% assign encrypted_hash = auth[auth_field_name] %}
        {% include "decrypt_hash" %}

        <div class="json-pre-container">
          <div class="json-sample" style="display: none;">{{ decrypted_hash | json }}</div>
          <pre class="language-json"><code class="language-json"></code></pre>
        </div>
      {% endif %}
    {% endfor %}

    {% for attribute in auth %}
      <p>{{ attribute[0] }}: {{ attribute[1] }}</p>
    {% endfor %}
  {% endif %}
{% endif %}