<h5 class="mb-4">{{ l.headlines.tickets }}</h5>

{% if error != nil %}

  <p class="text-danger">{{ error }}.</p>

{% else %}

  {% include "shared/link_styles" %}
  {% include "shared/extra_table_cols" %}

  {% assign now           = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
  {% assign status_names  = "opened closed" | split: " " %}

  <div class="card mb-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% for status_name in status_names %}
          <li class="nav-item">
            {% if status_name == scope %}
              {% assign active_bool = " active" %}
            {% else %}
              {% assign active_bool = "" %}
            {% endif %}
            <a class="nav-link{{ active_bool }}" href="{{ 'tickets__index' | path_for: scope: status_name }}">
              {{ l.status_names[status_name] }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">

      {% if tickets.size == 0 %}

        <p>{{ l.explainers.no_tickets }}</p>

      {% else %}
        <table class="table">
          <thead>
            <tr>
              <th class="border-bottom-0">{{ l.headers.company_website }}</th>
              <th class="border-bottom-0">{{ l.headers.relay_name }}</th>
              <th class="border-bottom-0">
                {% capture headline_name %}{{ scope }}_at{% endcapture %}
                {{ l.headers[headline_name] }}
              </th>
              <th class="border-bottom-0"></th>
              {% include "shared/extra_table_ths" %}
            </tr>
          </thead>
          <tbody>

            {% assign documents = tickets | sort: headline_name | reverse %}

            {% for document in documents %}
              {% assign relay_id    = document.relay_id %}
              {% assign company_id  = document.company_id %}
              {% capture status_time_name %}{{ scope }}_at{% endcapture %}
              <tr>
                <td>
                  {% if company_id == account._id %}
                    {{ companies[company_id].website }}
                  {% else %}
                    {% if company_id == nil %}
                      <span class="text-secondary"><b><i class="fas fa-minus-circle"></i> {{ l.informations.no_company_id }}</b></span>
                    {% elsif companies[company_id] == nil %}
                      <span class="text-danger"><b><i class="fas fa-minus-circle"></i> {{ l.informations.no_company }}</b></span>
                    {% else %}
                      <form method="patch" action="/accounts/{{ company_id }}/switch" data-remote="true">
                        <input type="hidden" name="redi
                        t" value="{{ 'webshops__index' | path_for }}">
                        <input class="submit-link d-inline border-0 p-0 text-primary bg-white" type="submit" value="{{ companies[company_id].website }}">
                      </form>
                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  {% if relays[relay_id] == nil %}
                    <span class="badge badge-danger">{{ l.badges.no_relay }}</span>
                  {% else %}
                    {% if document.webshop_id == nil or companies[company_id] == nil %}
                      {{ relays[relay_id].name }}
                    {% else %}
                      {% if company_id == account._id %}
                        <a href="{{ 'webshops__edit' | path_for: id: document.webshop_id }}">{{ relays[relay_id].name }}</a>
                      {% else %}
                        <form method="patch" action="/accounts/{{ company_id }}/switch" data-remote="true">
                          <input type="hidden" name="redirect" value="{{ 'webshops__edit' | path_for: id: document.webshop_id }}">
                          <input class="submit-link d-inline border-0 p-0 text-primary bg-white" type="submit" value="{{ relays[relay_id].name }}">
                        </form>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  <span title="{{ document[status_time_name] | i18n_l: 'wday_date_hours_minutes' | capitalize }}">
                    {{ document[status_time_name] | time_distance_in_words: now | capitalize }} {{ l.informations.ago }}
                  </span>
                </td>
                {% assign ticket_status = document.status %}
                {% assign link_path     = "tickets__show" %}
                {% assign link_name     = l.status_names[ticket_status] %}
                {% assign link_icon     = "fas fa-wrench" %}

                {% include "shared/table_link" %}
                {% include "shared/extra_table_links" %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>

  {% include "shared/pagination" %}
{% endif %}