{% if error != nil %}
  <h5 class="mb-4">
    {{ l.headlines.error }} <a href="{{ 'tickets__index' | path_for: status: params.referer }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>
  <p>{{ error }}.</p>
{% else %}

  <style>
    .submit-link:hover {
      text-decoration: underline;
    }

    .dropdown-link:focus, .submit-link:focus {
      outline: none;
    }
  </style>

  <script>
    function textAreaAdjust(element) {
      element.style.height = "1px";
      element.style.height = (25 + element.scrollHeight) + "px";
    }

    function copyFormInput(form_field_name) {
      var input                   = document.querySelector("[data-copy='" + form_field_name + "']");
      var button                  = document.querySelector("[data-copy-button='" + form_field_name + "']");
      var placeholder             = document.querySelector("[data-copy-placeholder='" + form_field_name + "']");
      input.style.display         = "inline";
      button.style.display        = "none";
      placeholder.style.display   = "inline";
      input.select();
      input.setSelectionRange(0, 99999);
      document.execCommand("copy");
      input.style.display         = "none";
      alertify.success("{{ l.flash.copied }} " + input.value);
      setTimeout(function(){
        button.style.display      = "inline";
        placeholder.style.display = "none";
      }, 1000);
    }
  </script>

  {% include "shared/indent_json_pre" %}
  {% include "shared/add_markdown" %}

  <h5 class="mb-4">
    {{ l.headlines.intro }} <a href="{{ 'tickets__index' | path_for: status: params.referer }}">{{ l.headlines.return }} <i class="fas fa-undo"></i></a>
  </h5>

  {% assign now               = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
  {% assign left_tr_count     = 0 %}
  {% assign right_tr_count    = 0 %}
  {% assign form_field_names  = "mail_address phone admin_url admin_username admin_password ftp_host ftp_username ftp_password ssh_address ssh_password" | split: " " %}

  {% for form_field_name in form_field_names %}
    {% if ticket[form_field_name] != nil and ticket[form_field_name] != "" %}
      {% assign right_tr_count = right_tr_count | plus: 1 %}
    {% endif %}
  {% endfor %}

  <div class="row">
    <div class="col-md-12 col-lg-7">
      <table class="table mb-0">
        <tbody>
          {% assign status_field_names  = "opened_at escalated_at closed_at re_opened_at" | split: " " %}
          {% assign assign timeline     = "" | split: " " %}

          {% for status_field_name in status_field_names %}

            {% if ticket[status_field_name] != nil %}

              {% assign status_field  = nil | new_hash %}
              {% assign status_field  = status_field | push_to_hash: "name", status_field_name %}
              {% assign status_field  = status_field | push_to_hash: "value", ticket[status_field_name] %}
              {% assign timeline      = timeline | push_to_array: status_field %}

            {% endif %}

          {% endfor %}

          {% assign timeline      = timeline | sort: "value" %}
          {% assign left_tr_count = left_tr_count | plus: 1 %}

          <tr>
            <td width="1" class="text-nowrap">
              <b>{{ l.headers.status }}:</b>
            </td>
            <td>
              {% assign ticket_status = ticket.status %}
              {% include "shared/ticket_status" %}
            </td>
          </tr>

          {% if relay != nil %}

            {% assign left_tr_count = left_tr_count | plus: 1 %}

            <tr>
              <td width="1" class="text-nowrap">
                <b>{{ l.headers.relay }}:</b>
              </td>
              <td>
                {{ relay.name }}
              </td>
            </tr>
          {% endif %}

          {% if ticket.webshop_id != nil %}

            {% assign left_tr_count = left_tr_count | plus: 1 %}

            <tr>
              <td width="1" class="text-nowrap">
                <b>{{ l.headers.webshop }}:</b>
              </td>
              <td>
                <a href="{{ 'webshops__edit' | path_for: id: ticket.webshop_id }}">{{ l.informations.edit_webshop }}</a> {{ l.informations.or }} <a href="{{ 'webshops__show' | path_for: id: ticket.webshop_id }}">{{ l.informations.show_webshop }}</a>
              </td>
            </tr>
          {% endif %}

          {% if ticket.superuser_id != nil %}

            {% assign left_tr_count = left_tr_count | plus: 1 %}

            <tr>
              <td width="1" class="text-nowrap">
                <b>{{ l.headers.assignee }}:</b>
              </td>
              <td>
                {% assign superuser_id = ticket.superuser_id %}
                {% include "ticket/superuser_identifier" %}
                {{ identifier }}
              </td>
            </tr>
          {% endif %}

          {% assign left_tr_count = left_tr_count | plus: 1 %}

          <tr>
            <td width="1" class="text-nowrap">
              <b>{{ l.headers.options }}:</b>
            </td>
            <td>

              {% assign action_count  = 0 %}
              {% assign action_number = 0 %}

              {% if ticket.superuser_id != user._id %}

                {% assign action_count  = action_count | plus: 1 %}
                {% assign action_number = action_number | plus: 1 %}

                <form class="d-inline" action="{{ 'tickets__update' | path_for: id: ticket._id, format: 'js' }}" method="patch" data-remote="true">
                  <input type="hidden" name="superuser_id" value="{{ user._id }}"><input type="submit" class="submit-link d-inline border-0 py-0 px-0 text-primary bg-white" value="{{ l.update_status.links.claim }}">,
                </form>

              {% endif %}

              {% if ticket.status == "closed" %}

                {% assign statuses      = "re_opened" | split: " " %}

              {% elsif ticket.status == "escalated" %}

                {% assign statuses      = "de_escalated closed" | split: " " %}

              {% else %}

                {% assign statuses      = "closed" | split: " " %}

                {% if status.escalated_at != nil %}
                  {% assign statuses = statuses | push_to_array: "de_escalated" %}
                {% else %}
                  {% assign statuses = statuses | push_to_array: "escalated" %}
                {% endif %}

              {% endif %}

              {% for status in statuses %}
                {% if ticket.status != status %}
                  {% assign action_count = action_count | plus: 1 %}
                {% endif %}
              {% endfor %}

              {% assign superusers_count = 0 %}
              {% for superuser in superusers %}
                {% if superuser._id != user._id and superuser._id != ticket.superuser_id %}
                  {% assign superusers_count = superusers_count | plus: 1 %}
                {% endif %}
              {% endfor %}

              {% assign second_last_action_number = action_count | minus: 1 %}

              {% for status in statuses %}
                {% if ticket.status != status %}

                  {% assign action_number = action_number | plus: 1 %}

                  {% if action_count == 1 or action_number == action_count %}
                    {% if superusers_count == 0 %}

                      {% assign append_string = "" %}

                    {% else %}

                      {% assign append_string = l.update_status.append_strings.or %}

                    {% endif %}
                  {% elsif action_number == second_last_action_number %}
                    {% if superusers_count == 0 %}

                      {% assign append_string = l.update_status.append_strings.or %}

                    {% else %}

                      {% assign append_string = ", " %}

                    {% endif %}                
                  {% else %}

                    {% assign append_string = ", " %}

                  {% endif %}

                  {% if action_number == 1 %}
                    {% assign link_text = l.update_status.links[status] | capitalize %}
                  {% else %}
                    {% assign link_text = l.update_status.links[status] %}
                  {% endif %}

                  <form class="d-inline" action="{{ 'tickets__update' | path_for: id: ticket._id, format: 'js' }}" method="patch" data-remote="true">
                    <input type="hidden" name="status" value="{{ status }}"><input type="submit" class="submit-link d-inline border-0 py-0 px-0 text-primary bg-white" value="{{ link_text }}">{{ append_string }}
                  </form>
                {% endif %}
              {% endfor %}

              {% if superusers_count > 0 %}
                <div class="dropright d-inline">
                  <button class="dropdown-link d-inline border-0 py-0 px-0 text-primary bg-white dropdown-toggle" type="button" id="assign_ticket" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if ticket.superuser_id == nil %}
                      {{ l.assign.assign }}
                    {% else %}
                      {{ l.assign.reassign }}
                    {% endif %}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="assign_ticket">
                    <h6 class="dropdown-header px-3">{{ l.assign.header }}</h6>
                    <div class="dropdown-divider mb-1"></div>
                    {% for superuser in superusers %}
                      {% if superuser._id != user._id and superuser._id != ticket.superuser_id %}

                        <form action="{{ 'tickets__update' | path_for: id: ticket._id, format: 'js' }}" method="patch" data-remote="true">
                          <input type="hidden" name="superuser_id" value="{{ superuser._id }}"><input type="submit" class="px-3 btn btn-link" value="{{ superuser.email }}">
                        </form>

                      {% endif %}
                    {% endfor %}

                    {% if ticket.superuser_id != nil %}

                      <div class="dropdown-divider mb-1"></div>
                      <form action="{{ 'tickets__update' | path_for: id: ticket._id, format: 'js' }}" method="patch" data-remote="true">
                        <input type="hidden" name="superuser_id" value="none"><input type="submit" class="px-3 btn btn-link text-danger" value="{{ l.assign.unassign }}">
                      </form>

                    {% endif %}

                  </div>
                </div>
              {% endif %}

            </td>
          </tr>

          {% for t in timeline %}
            {% assign status_name = t.name %}
            {% if ticket[status_name] != nil and ticket[status_name] != "" %}

              {% assign left_tr_count       = left_tr_count | plus: 1 %}
              {% assign bottom_border_klass = "" %}

              {% if t == timeline.last %}
                {% if left_tr_count >= right_tr_count and ticket.comments != nil and ticket.comments != "" %}

                  {% assign bottom_border_klass = "border-bottom" %}

                {% endif %}
              {% endif %}

              <tr>
                <td width="1" class="text-nowrap {{ bottom_border_klass }}">
                  <b>{{ l.headers[status_name] }}:</b>
                </td>
                <td class="{{ bottom_border_klass }}">
                  <span title="{{ ticket[status_name] | i18n_l: 'wday_date_hours_minutes' | capitalize }}">
                    {{ ticket[status_name] | time_distance_in_words: now }} {{ l.informations.ago }}
                  </span>
                </td>
              </tr>
            {% endif %}
          {% endfor %}

          {% if left_tr_count < right_tr_count and ticket.comments != nil and ticket.comments != "" %}
            {% include "ticket/comments" %}
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="col-md-12 col-lg-5">
      <table class="table mb-0">
        <tbody>
          {% for form_field_name in form_field_names %}
            {% if ticket[form_field_name] != nil and ticket[form_field_name] != "" %}
              <tr>
                <td width="1" class="text-nowrap">
                  <b>{{ l.headers[form_field_name] }}:</b>
                  <input type="text" value="{{ ticket[form_field_name] | decrypt }}" data-copy="{{ form_field_name }}" style="display:none;">
                </td>
                <td>
                  {{ ticket[form_field_name] | decrypt }}
                </td>
                <td width="1">
                  <i class="far fa-copy text-primary" data-copy-button="{{ form_field_name }}" style="cursor:pointer;" onclick="copyFormInput('{{ form_field_name }}')"></i>
                  <i class="fas fa-copy text-primary" data-copy-placeholder="{{ form_field_name }}" style="cursor:pointer;display:none;"></i>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if left_tr_count >= right_tr_count and ticket.comments != nil and ticket.comments != "" %}

    <table class="table mb-0">
      <tbody>
        {% include "ticket/comments" %}
      </tbody>
    </table>

  {% endif %}

  <form class="my-4" action="{{ 'tickets__update' | path_for: id: ticket._id, format: 'js' }}" method="patch" data-remote="true">
    <textarea name="message" placeholder="{{ l.message.placeholder }}" class="form-control rounded-0 border-bottom-0" rows="2" onkeyup="textAreaAdjust(this)" onpaste="textAreaAdjust(this)" style="overflow:hidden;resize:none;"></textarea>
    <input type="submit" class="btn btn-outline-primary rounded-0 btn-fullwidth" value="{{ l.message.submit }}">
  </form>

  <div class="accordion" id="log_accordion">
     <div class="card border">
        <div class="card-header p-1" id="card_log">
          <h5 class="mb-0">
            <button aria-controls="collapse_card_log" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapse_card_log" data-toggle="collapse" type="button">
              <div class="text-primary">
                {{ l.log.header }}
              </div>
            </button>
          </h5>
        </div>

        {% if ticket.log != nil %}
          {% assign toggle_klass = " show" %}
        {% else %}
          {% assign toggle_klass = "" %}
        {% endif %}

        <div aria-labelledby="card_log" class="collapse{{ toggle_klass }}" data-parent="#log_accordion" id="collapse_card_log">
          <div class="card-body">
            <table class="table" id="log_table">
              <tbody>

                {% if ticket.log != nil %}
                  {% assign log = ticket.log | reverse %}

                  {% for log_entry in log %}

                    {% if log_entry.message != nil %}

                      {% if log_entry.author_id == "gofetch" %}

                        {% assign identifier = l.log.body.gofetch %}

                      {% else %}

                        {% assign superuser_id = log_entry.author_id %}
                        {% include "ticket/superuser_identifier" %}

                      {% endif %}

                      {% include "shared/tickets/message_tr" %}

                    {% else %}

                      <tr>
                        <td>
                          {% if log_entry[0] == "superuser_id" and log_entry[1] == nil %}
                          
                            {{ l.log_body.unassigned }}

                          {% else %}
                            {% if log_entry.superuser_id != nil %}

                              {{ l.log_body.assigned }}

                              {% assign superuser_id = log_entry.superuser_id %}

                              {% include "ticket/superuser_identifier" %}

                              {{ identifier }}

                            {% elsif log_entry.status != nil %}

                              {% assign ticket_status = log_entry.status %}
                              {% include "shared/ticket_status" %}

                              {% if ticket_status == "closed" %}

                                <span class="text-secondary">&#183; {{ l.log_body.and_unassigned }}</span>

                              {% endif %}
                            {% endif %}
                          {% endif %}
                        </td>
                        {% include "shared/tickets/log_entry_time_td" %}
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                <tr>
                  <td>
                    {% assign ticket_status = "opened" %}
                    {% include "shared/ticket_status" %}
                  </td>
                  {% assign log_entry = nil | new_hash %}
                  {% assign log_entry = log_entry | push_to_hash: "time", ticket.opened_at %}
                  {% include "shared/tickets/log_entry_time_td" %}
                </tr>

              </tbody>
            </table>
           </div>
        </div>
     </div>
  </div>

  {% if auth != nil %}
    {% assign auth_field_names = "webshop_config setup_config error log" | split: " " %}

    {% for auth_field_name in auth_field_names %}
      {% if auth[auth_field_name] != nil %}
        <h5 class="my-4">
          <b>{{ l.auth_headlines[auth_field_name] }}</b>
        </h5>
        <p>{{ l.auth_explainers[auth_field_name] }}:</p>

        {% if auth_field_name == "error" %}

          {% assign auth_error = "" | split: " " %}

          {% for auth_e in auth.error %}

            {% assign encrypted_hash = auth_e %}
            {% include "shared/decrypt_hash" %}

            {% assign auth_error = auth_error | push_to_array: decrypted_hash %}

          {% endfor %}

          {% assign decrypted_hash = auth_error %}

        {% else %}

          {% assign encrypted_hash = auth[auth_field_name] %}
          {% include "shared/decrypt_hash" %}

        {% endif %}

        <div class="json-pre-container">
          <div class="json-sample" style="display: none;">{{ decrypted_hash | json }}</div>
          <pre class="language-json"><code class="language-json"></code></pre>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}