{% if webshop == nil %}
  <h5 class="mb-3">{{ l.headlines.no_webshop }}</h5>
{% else %}
  <h5 class="mb-3">
    {{ l.headlines.webshop }} {{ relay.name }}
  </h5>
  <p>
    {% for identifiable_config_key in relay.identifiable_config_keys %}
      {% if identifiable_config_key != relay.identifiable_config_keys.first %}
        ,&nbsp;
      {% endif %}
      {{ webshop.config[identifiable_config_key] | decrypt }}
    {% endfor %}
  </p>
  {% for request_settings in relay.paths %}
    <p><b>{{ request_settings[0] }}</b></p>
    {% for request_setting in request_settings[1] %}
      <p>{{ request_setting[0] }}</p>
    {% endfor %}    
  {% endfor %}
{% endif %}