<h5 class="mb-3">{{ l.headline }}</h5>
{% if webshops.size == 0 %}
  <h5 class="mb-3">{{ l.headlines.no_webshops }}</h5>
{% else %}
  <h5 class="mb-3">{{ l.headlines.webshops }}</h5>
  <table class="table">
    <tbody>
      {% for webshop in webshops %}
        {% assign relay_id = webshop.relay_id %}
        <tr>
          <td>{{ relays[relay_id].name }}</td>
          <td>
            {% for identifiable_config_key in relays[relay_id].identifiable_config_keys %}
              {{ webshop.config[identifiable_config_key] | decrypt }}, 
            {% endfor %}
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}