<h5 class="mb-4">{{ l.headlines.webshops }}</h5>

{% if error != nil %}

  <p class="text-danger">{{ error }}.</p>

{% else %}

  {% assign scope_names = "inactive erroring active" | split: " " %}
  {% assign scope_names = scope_names | push_to_array: nil | reverse %}

  <div class="card mb-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% for scope_name in scope_names %}
          <li class="nav-item">
            {% if scope_name == scope %}
              {% assign active_bool = " active" %}
            {% else %}
              {% assign active_bool = "" %}
            {% endif %}
            <a class="nav-link{{ active_bool }}" href="{{ 'webshops__index' | path_for: scope: scope_name }}">
              {% if scope_name == nil %}
                {{ account.website }}
              {% else %}
                {{ l.scope_names[scope_name] }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
      {% if webshops.size == 0 %}
        <p>{{ l.explainers.no_webshops }}</p>
      {% else %}
        {% assign now = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
        {% assign to  = now | date: "%s" %}
        <table class="table">
          <thead>
            <tr class="d-none d-md-inline">
              <th class="border-bottom-0"><span class="d-none d-md-block">{{ l.headers.config }}</span></th>
              <th class="border-bottom-0"><span class="d-none d-md-block">{{ l.headers.relay_name }}</span></th>
              <th class="border-bottom-0"></th>
              <th class="border-bottom-0"></th>
            </tr>
          </thead>
          <tbody>
            {% for webshop in webshops %}
              {% assign relay_id = webshop.relay_id %}
              <tr>
                <td>
                  {% if relays[relay_id] != nil %}
                    <samp>
                      {% assign identifiable_config_keys = 0 %}
                      {% for identifiable_config_key in relays[relay_id].identifiable_config_keys %}
                        {% if identifiable_config_key != relays[relay_id].identifiable_config_keys.first %}
                          &#183;
                        {% endif %}
                        {% if webshop.config[identifiable_config_key] != nil and webshop.config[identifiable_config_key] != "" %}
                          {% assign identifiable_config_keys = identifiable_config_keys | plus: 1 %}
                          {{ webshop.config[identifiable_config_key] | decrypt }}
                        {% endif %}
                      {% endfor %}

                      <span class="text-secondary">
                        {% if identifiable_config_keys == 0 %}
                          {{ l.informations.no_identifiable_config_keys }}
                        {% endif %}
                      </span>
                    </samp>
                  {% endif %}

                  {% assign badge_time  = nil %}
                  {% assign badge_style = nil %}
                  {% assign duration    = nil %}

                  {% if webshop.active != true %}

                    <span class="badge badge-secondary">{{ l.badges.inactive }}</span>

                  {% elsif webshop.got_error_at != nil %}

                    {% assign badge_time  = "got_error_at" %}
                    {% assign badge_style = "danger" %}
                    {% include "webshops/badge_duration" %}

                  {% elsif webshop.got_started_at != nil %}

                    {% if webshop.got_finished_at == nil %}

                      <span class="badge badge-primary">{{ l.badges.reset }}</span>

                      {% assign badge_time    = "got_started_at" %}
                      {% assign badge_style   = "primary" %}

                    {% elsif webshop.got_finished_at < webshop.got_started_at %}

                      {% assign badge_time    = "got_started_at" %}
                      {% assign badge_style   = "primary" %}

                    {% elsif webshop.got_started_at < webshop.got_finished_at %}

                      {% assign badge_time    = "got_finished_at" %}
                      {% assign badge_style   = "success" %}
                      {% include "webshops/badge_duration" %}
                    
                    {% endif %}
                  {% endif %}

                  {% if badge_time != nil %}

                    {% include "webshops/time_badge" %}

                  {% endif %}
                </td>
                <td>
                  {% if relays[relay_id] == nil %}
                    <span class="badge badge-danger">{{ l.badges.no_relay }}</span>
                  {% else %}
                    {{ relays[relay_id].name }}
                  {% endif %}
                </td>
                {% assign actions = "edit show" | split: " " %}
                {% for action in actions %}

                  {% capture action_path %}webshops__{{ action }}{% endcapture %}

                  {% if action == "edit" %}

                    {% assign action_icon = "wrench" %}

                  {% else %}

                    {% assign action_icon = "code" %}

                  {% endif %}

                  <td class="text-right text-nowrap" width="1">
                    {% if webshop.company_id == account._id %}
                      <a href="{{ action_path | path_for: id: webshop._id, page: webshops_query.page, per_page: webshops_query.per_page, scope: scope }}">
                        <div class="d-none d-md-block">
                          <div class="btn btn-outline-primary">{{ l.buttons[action] }}</div>
                        </div>
                        <i class="fas fa-{{ action_icon }} d-md-none"></i>
                      </a>
                    {% else %}
                      <form method="patch" action="/accounts/{{ webshop.company_id }}/switch" data-remote="true">
                        <input type="hidden" name="redirect" value="{{ action_path | path_for: id: webshop._id, page: webshops_query.page, per_page: webshops_query.per_page, scope: scope }}">
                        <div class="d-none d-md-block">
                          <input type="submit" value="{{ l.buttons[action] }}" class="btn btn-outline-primary">
                        </div>
                        <div class="d-md-none">
                          <button type="submit" class="btn btn-link px-0"><i class="text-primary fas fa-{{ action_icon }}"></i></button>
                        </div>
                      </form>
                    {% endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>

  {% assign page            = webshops_query.page %}
  {% assign per_page        = webshops_query.per_page %}
  {% assign pages_count     = webshops_query.pages_count %}
  {% assign params_scope    = scope %}
  {% assign klass           = "webshops" %}

  {% include "shared/pagination" %}
{% endif %}