<h5 class="mb-4">{{ l.headlines.webshops }}</h5>

{% if error != nil %}

  <p class="text-danger">{{ error }}.</p>

{% else %}

  {% assign scope_names = "inactive erroring active" | split: " " %}
  {% assign scope_names = scope_names | push_to_array: nil | reverse %}

  <div class="card mb-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% for scope_name in scope_names %}
          <li class="nav-item">
            {% if scope_name == scope %}
              {% assign active_bool = " active" %}
            {% else %}
              {% assign active_bool = "" %}
            {% endif %}
            <a class="nav-link{{ active_bool }}" href="{{ 'webshops__index' | path_for: scope: scope_name }}">
              {% if scope_name == nil %}
                {{ account.website }}
              {% else %}
                {{ l.scope_names[scope_name] }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
      {% if webshops.size == 0 %}
        <p>{{ l.explainers.no_webshops }}</p>
      {% else %}
        {% assign now = "now" | date: "%Y-%m-%d %H:%M:%S" | parse_time %}
        <table class="table">
          <thead>
            <tr>
              <th class="border-bottom-0">{{ l.headers.config }}</th>
              <th class="border-bottom-0">{{ l.headers.relay_name }}</th>
              <th class="border-bottom-0"></th>
              <th class="border-bottom-0"></th>
            </tr>
          </thead>
          <tbody>
            {% for webshop in webshops %}
              {% assign relay_id = webshop.relay_id %}
              <tr>
                <td>
                  {% if relays[relay_id] != nil %}
                    <samp>
                      {% assign identifiable_config_keys = 0 %}
                      {% for identifiable_config_key in relays[relay_id].identifiable_config_keys %}
                        {% if identifiable_config_key != relays[relay_id].identifiable_config_keys.first %}
                          &#183;
                        {% endif %}
                        {% if webshop.config[identifiable_config_key] != nil and webshop.config[identifiable_config_key] != "" %}
                          {% assign identifiable_config_keys = identifiable_config_keys | plus: 1 %}
                          {{ webshop.config[identifiable_config_key] | decrypt }}
                        {% endif %}
                      {% endfor %}

                      <span class="text-secondary">
                        {% if identifiable_config_keys == 0 %}
                          {{ l.informations.no_identifiable_config_keys }}
                        {% endif %}
                      </span>
                    </samp>
                  {% endif %}

                  {% if webshop.active != true %}

                    <span class="badge badge-secondary">{{ l.badges.inactive }}</span>

                  {% elsif webshop.got_error_at != nil %}

                    <span class="badge badge-danger">{{ l.badges.got_error_at }} {{ webshop.got_error_at | time_distance_in_words: now | upcase }} {{ l.badges.ago }}</span>

                  {% elsif webshop.got_started_at != nil %}

                    {% if webshop.got_finished_at == nil %}

                      <span class="badge badge-primary">{{ l.badges.first_got_started_at }} {{ webshop.got_started_at | time_distance_in_words: now | upcase }} {{ l.badges.ago }}</span>

                    {% elsif webshop.got_finished_at < webshop.got_started_at %}

                      <span class="badge badge-primary">{{ l.badges.got_started_at }} {{ webshop.got_started_at | time_distance_in_words: now | upcase }} {{ l.badges.ago }}</span>

                    {% elsif webshop.got_started_at < webshop.got_finished_at %}
                    
                      <span class="badge badge-success">{{ l.badges.got_finished_at }} {{ webshop.got_finished_at | time_distance_in_words: now | upcase }} {{ l.badges.ago }}</span>

                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  {% if relays[relay_id] == nil %}
                    <span class="badge badge-danger">{{ l.badges.no_relay }}</span>
                  {% else %}
                    {{ relays[relay_id].name }}
                  {% endif %}
                </td>
                <td class="text-right text-nowrap" width="1">
                  {% if webshop.company_id == account._id %}
                    <a class="btn btn-outline-primary" href="{{ 'webshops__edit' | path_for: id: webshop._id, page: webshops_query.page, per_page: webshops_query.per_page, scope: scope }}">{{ l.buttons.edit }}</a>
                  {% else %}
                    <form method="patch" action="/accounts/{{ webshop.company_id }}/switch" data-remote="true">
                      <input type="hidden" name="redirect" value="{{ 'webshops__edit' | path_for: id: webshop._id, page: webshops_query.page, per_page: webshops_query.per_page, scope: scope }}">
                      <input class="btn btn-outline-primary" type="submit" value="{{ l.buttons.edit }}">
                    </form>
                  {% endif %}
                </td>
                <td class="text-right text-nowrap" width="1">
                  {% if webshop.company_id == account._id %}
                    <a class="btn btn-outline-primary" href="{{ 'webshops__show' | path_for: id: webshop._id, page: webshops_query.page, per_page: webshops_query.per_page, scope: scope }}">{{ l.buttons.show }}</a>
                  {% else %}
                    <form method="patch" action="/accounts/{{ webshop.company_id }}/switch" data-remote="true">
                      <input type="hidden" name="redirect" value="{{ 'webshops__show' | path_for: id: webshop._id, page: webshops_query.page, per_page: webshops_query.per_page, scope: scope }}">
                      <input class="btn btn-outline-primary" type="submit" value="{{ l.buttons.show }}">
                    </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>

  {% assign page            = webshops_query.page %}
  {% assign per_page        = webshops_query.per_page %}
  {% assign pages_count     = webshops_query.pages_count %}
  {% assign params_scope    = scope %}
  {% assign klass           = "webshops" %}

  {% include "shared/pagination" %}
{% endif %}