{% assign error = l.errors.no_access %}

{% if user.superuser_level == 1 %}

  {% assign error = nil %}

{% else %}

  {% assign webshops_query  = "webshops" | db_count: _id: params.id %}
  {% assign webshop         = webshops.first %}
  webshop: {{ webshop }}
  {% if webshop != nil %}
    {% if user.webshop_relay_ids != nil and user.webshop_relay_ids contains webshop.relay_id %}

      {% assign error = nil %}

    {% else %}

      {% if user.ticket_relay_ids != nil and user.ticket_relay_ids contains webshop.relay_id %}

        {% assign ticket_statuses = "opened escalated" | split: " " %}
        {% assign tickets_query   = "tickets" | db_count: webshop_id: webshop._id, user_id: user._id, statuses: ticket_statuses %}

        {% if tickets_query.results_count == nil or tickets_query.results_count == 0 %}    

          {% assign error = nil %}

        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}