<span class="border rounded text-nowrap px-1 text-{{ badge_style }} border-{{ badge_style }}">
  <span class="d-none d-lg-inline">{{ l.badges[badge_time] }}</span>
  {% assign from    = document[badge_time] | date: "%s" %}
  {% assign seconds = to | minus: from %}

  {% if seconds < 60 %}

    {{ seconds }}

    {% if seconds == 1 %}

      {{ l.times.second }}

    {% else %}

      {{ l.times.seconds }}

    {% endif %}

  {% elsif seconds < 3600 %}

    {% assign minutes = seconds | divided_by: 60 %}

    {% if minutes < 60 %}

      {{ minutes }}

      {% if minutes == 1 %}

        {{ l.times.minute }}

      {% else %}

        {{ l.times.minutes }}

      {% endif %}

    {% endif %}

  {% else %}

     {{ document[badge_time] | time_distance_in_words: now }}

  {% endif %}

  {{ l.informations.ago }}{{ duration }}
</span>