{% assign email_ids = nil | new_hash %}

{% for external_mail_address in params.data.external_mail_addresses %}

  {% assign send_result = "external_message" | send_email: to: external_mail_address, ticket_id: params.data.ticket_id, ticket_url: params.data.external_ticket_url, message: params.data.message %}

  {% assign email_ids = email_ids | push_to_hash: external_mail_address, send_result.job_id %}

{% endfor %}

{% for superuser_mail_address in params.data.superuser_mail_addresses %}

  {% assign send_result = "superuser_message" | send_email: to: superuser_mail_address, ticket_id: params.data.ticket_id, ticket_url: params.data.superuser_ticket_url %}

  {% assign email_ids = email_ids | push_to_hash: superuser_mail_address, send_result.job_id %}

{% endfor %}

{"email_ids": "{{ email_ids }}"}