<span class="border rounded text-nowrap px-1 mr-1">
  {% if participant == "relay" %}
    <span class="support-name">{{ participant }}</span>
  {% elsif participant contains "@" %}
    {% assign ticket_mail_address = ticket.mail_address | decrypt %}
    {% if participant == ticket_mail_address %}
      {{ participant }} &#183; <b>{{ l.recipients.merchant }}</b>
    {% else %}
      {{ participant }}
    {% endif %}
  {% elsif participant.size == 24 %}
    {{ superusers[participant].email }}
  {% endif %}
</span>