{% if email_ids != nil and email_ids[participant] != nil %}

  {% assign data_participant = email_ids[participant] %}

{% else %}

  {% assign data_participant = participant %}

{% endif %}

<span class="border rounded text-nowrap px-1 mr-1" data-participant="{{ data_participant }}">
  {% if participant contains "@" %}
    {% assign ticket_mail_address = document.mail_address | decrypt %}
    {% if participant == ticket_mail_address %}
      {{ participant }} &#183; <b>{{ l.recipients.merchant }}</b>
    {% else %}
      {{ participant }}
    {% endif %}
  {% elsif participant.size == 24 %}
    {{ superusers[participant].email }}
  {% endif %}
</span>