{% assign td_klass = " padding-bottom-0 margin-bottom-0" %}
<tr>
  <td class="{{ td_klass }}">
    <p>
      {% assign participant = identifier %}
      {% include "shared/tickets/message_participant" %}
      {% if log_entry.recipients.size > 0 %}
        <i class="fas fa-arrow-right"></i>
        {% for participant in log_entry.recipients %}
          {% include "shared/tickets/message_participant" %}
        {% endfor %}
      {% endif %}
    </p>
  </td>
  {% include "shared/tickets/log_entry_time_td" %}
</tr>
<tr>
  <td colspan="2" class="border-top-0 padding-top-0 margin-top-0">
    <div class="mb-0 markdown" data-markdown="{{ log_entry.message | decrypt | url_encode }}"></div>
  </td>
</tr>