{% if job_ids != nil and job_ids[participant] != nil %}

  {% assign job_id          = job_ids[participant] %}
  {% assign container_klass = " text-secondary" %}

{% else %}

  {% assign job_id          = nil %}
  {% assign container_klass = "" %}

{% endif %}

<span class="border rounded text-nowrap px-1 mr-1{{ container_klass }}" data-job-container="{{ job_id }}" data-participant="{{ participant }}">
  {% if participant contains "@" %}

    {% assign ticket_mail_address = document.mail_address | decrypt %}

    {% if participant == ticket_mail_address %}

      {{ participant }} &#183; <b>{{ l.recipients.merchant }}</b>

    {% else %}

      {{ participant }}

    {% endif %}

  {% elsif participant.size == 24 %}

    {{ superusers[participant].email }}

  {% endif %}

  {% if job_id != nil %}

    <i class="far fa-paper-plane" data-job-pending="{{ job_id }}"></i>
    <i class="far fa-question-circle" data-job-error="{{ job_id }}" style="display: none;"></i>

  {% endif %}
</span>