<tr>
  <td>
    <p>
      {% assign participant = identifier %}
      {% include "shared/tickets/message_participant" %}
      {% if log_entry.recipients.size > 0 %}
        <i class="fas fa-arrow-right"></i>
        {% for participant in log_entry.recipients %}
          {% include "shared/tickets/message_participant" %}
        {% endfor %}
      {% endif %}
    </p>
  </td>
  {% include "shared/tickets/log_entry_time_td" %}
</tr>
<tr>
  <div class="mb-0 markdown" data-markdown="{{ log_entry.message | decrypt | url_encode }}"></div>
</tr>